[MASTER]
; ignore=
extension-pkg-whitelist=PyQt5
ignore-patterns=^venv$

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=120

[BASIC]
good-names=f
; generated-members=

[MESSAGES CONTROL]
disable=
    missing-function-docstring,
    missing-module-docstring,
    missing-class-docstring,
    consider-using-f-string,
    consider-using-max-builtin,

enable=
   useless-suppression,